{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="payment-form">
    <h2>{{ title }}</h2>

    <form method="post">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-field">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>

            <div class="form-field">
                {{ form.surname.label_tag }}
                {{ form.surname }}
            </div>

            <div class="form-field">
                {{ form.phone.label_tag }}
                {{ form.phone }}
            </div>
        </div>

        <button type="submit" class="btn-add-payment">
            {% translate "Save" %}
        </button>

        <a
                href="{% url 'clients' %}"
                class="btn-cancel"
        >
            {% translate "Cancel" %}
        </a>
    </form>
</div>
{% endblock %}