{% extends "base.html" %}

{% block content %}

<h1>Dashboard</h1>

<div class="row g-4">

    {% for title, value in cards %}
    <div class="col-md-4">
        <div class="dashboard-card
            {% if title == 'Income' %}
                card-income
            {% elif title == 'Expenses' %}
                card-expense
            {% else %}
                card-balance
            {% endif %}
        ">
            <p class="card-title">{{ title }}</p>
            <h2 class="card-value">{{ value|floatformat:2 }} zł</h2>
            <div class="dashboard-card-description">
                Total {{ title|lower }} this month
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}