{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="payment-form">

    <h2>{{ title }}</h2>

    <form method="post">
        {% csrf_token %}

        <div class="form-field">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <div class="form-field">
            {{ form.amount.label_tag }}
            {{ form.amount }}
        </div>

        <button type="submit" class="btn-add-payment">
            {% translate "Save" %}
        </button>

        <a href="{% url 'monthly-expenses' %}" class="btn-cancel">
            {% translate "Cancel" %}
        </a>

    </form>

</div>

{% endblock %}