{% extends "base.html" %}

{% block content %}

<div class="payment-form">

    <h1>Edit Monthly Expense</h1>

    <form method="post">
        {% csrf_token %}

        <div class="form-field">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <div class="form-field">
            {{ form.amount.label_tag }}
            {{ form.amount }}
        </div>

        <button type="submit" class="btn-add-payment">
            Save
        </button>

        <a href="{% url 'monthly-expenses' %}" class="btn-cancel">
            Cancel
        </a>

    </form>

</div>

{% endblock %}