{% extends "base.html" %}

{% block content %}

<div class="payment-form">

    <h1>Edit Payment</h1>

    <form method="post">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-field">
                {{ form.amount.label_tag }}
                {{ form.amount }}
            </div>

            <div class="form-field">
                {{ form.payment_type.label_tag }}
                {{ form.payment_type }}
            </div>

            <div class="form-field">
                {{ form.date.label_tag }}
                {{ form.date }}
            </div>
        </div>

        <div class="form-field">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>

        <div class="form-field">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>

        <div class="form-field">
            {{ form.client.label_tag }}
            {{ form.client }}
        </div>

        <button type="submit" class="btn-add-payment">
            Save
        </button>

        <a href="{% url 'payments' %}" class="btn-cancel">
            Cancel
        </a>

    </form>

</div>

{% endblock %}