{% load i18n %}
<aside class="sidebar">

    <div class="sidebar-logo">
        <h4>Financial CRM</h4>
    </div>

    <nav class="sidebar-nav">

        <a
                href="{% url 'statistics' %}"
                class="{% if request.resolver_match.url_name == 'statistics' %}active{% endif %}"
        >
            {% translate "Statistics" %}
        </a>

        <a
                href="{% url 'payments' %}"
                class="{% if request.resolver_match.url_name == 'payments' %}active{% endif %}"
        >
            {% translate "Payments" %}
        </a>

        <a
                href="{% url 'monthly-expenses' %}"
                class="{% if request.resolver_match.url_name == 'monthly-expenses' %}active{% endif %}"
        >
            {% translate "Monthly Expenses" %}
        </a>

        <a
                href="{% url 'clients' %}"
                class="{% if request.resolver_match.url_name == 'clients' %}active{% endif %}"
        >
            {% translate "Clients" %}
        </a>

    </nav>

</aside>